#login-overlay.modal-dialog
  .modal-content
    .modal-header
      %h4#myModalLabel.modal-title Reset Password
    .modal-body
      .row
        .col-xs-6
          .well
            = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), html: { :method => :put, class: "loginForm"}) do |f|
              = f.input :reset_password_token, :as => :hidden
              .form-group
                %label.control-label{:for => "password"} Password
                = f.input :password, label: false, input_html: { class: 'form-control', placeholder: "password" }
                %label.control-label{:for => "password_confirmation"} Repeat Password
                = f.input :password_confirmation, label: false, input_html: { class: 'form-control', placeholder: "password" }
                %span.help-block
              = f.button :submit, "Reset Passworuccess", :class => 'btn btn-success btn-block'
        .col-xs-6
          %p.lead
            Register now for
            %span.text-success FREE
          %ul.list-unstyled{:style => "line-height: 2"}
            %li
              %span.fa.fa-check.text-success
              See all your orders
            %li
              %span.fa.fa-check.text-success
              Save your favorites
            %li
              %span.fa.fa-check.text-success
              Fast checkout
            %li
              %span.fa.fa-check.text-success
              Get a gift
              %small (only new customers)
          %p
            = link_to 'Register Now!', new_user_registration_path, class: 'btn btn-info btn-block'



