= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "payment-form"}) do |f|
  .container-fluid
    %section.container
      .container-page
        .col-md-6
          %h3.dark-grey Registration
          .form-group.col-lg-6
            %label First Name
            = f.input :first_name, label: false, input_html: { class: 'form-control', placeholder: "First Name" }
          .form-group.col-lg-6
            %label Last Name
            = f.input :last_name, label: false, input_html: { class: 'form-control', placeholder: "Last Name" }
          .form-group.col-lg-6
            %label Email
            = f.input :email, label: false, input_html: { class: 'form-control', placeholder: "Email" }
          .form-group.col-lg-6
            %label Phone
            = f.input :phone, label: false, input_html: { class: 'form-control', placeholder: "Phone" }
          .form-group.col-lg-6
            %label Password
            = f.input :password, label: false, input_html: { class: 'form-control', placeholder: "password" }
          .form-group.col-lg-6
            %label Repeat Password
            = f.input :password_confirmation, label: false, input_html: { class: 'form-control', placeholder: "Repeat Password" }
        .col-md-6
          %h3.dark-grey Terms and Conditions
          %p
            By clicking on "Register" you agree to hootin's' Terms and Conditions
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec rhoncus libero. Aenean urna justo, molestie ac condimentum sed, lobortis a enim. Suspendisse ultricies risus ac ex consectetur, vitae ornare nisi aliquet. 
          %p
            Vivamus diam justo, dignissim a rutrum id, venenatis iaculis arcu. 
          %p
            Aenean urna justo, molestie ac condimentum sed, lobortis a enim. Suspendisse ultricies risus ac ex consectetur.
          = f.button :submit, "Register", :class => 'btn btn-primary '















-#.container
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "payment-form"}) do |f|
    .col-xs-12.col-md-6.col-md-push-3
      %ul
        - resource.errors.full_messages.each do |e|
          %li=e
      = f.simple_fields_for :account do |account_form|
        .container
          .row
            .col-xs-12.col-md-6
              .panel.panel-default
                .panel-heading
                  %h1.panel-title
                    Join #{t(:company_name)}
        .container
          .row
            .col-xs-12.col-md-6
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    Create your Profile
                .panel-body
                  %p= f.input :first_name, label: false, input_html: { class: 'form-control input-lg', placeholder: "First Name" }
                  %p= f.input :last_name, label: false, input_html: { class: 'form-control input-lg', placeholder: "Last Name" }
                  %p= f.input :email, label: false, input_html: { class: 'form-control input-lg', placeholder: "Email", type: "email" }
                  %p= f.input :password, label: false, input_html: { class: 'form-control input-lg', placeholder: "Password", type: "password" }
        .container
          .row
            .col-xs-12.col-md-6
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    Account Info 
                .panel-body
                  %p= account_form.input :name, label: false, input_html: { class: 'form-control input-lg', placeholder: "Company Name" }
                  %p= account_form.input :subdomain, label: false, input_html: { class: 'form-control input-lg', placeholder: "Subdomain" }
                  %p= account_form.input :website, label: false, input_html: { class: 'form-control input-lg', placeholder: "Website" }
                  %p= account_form.input :phone, label: false, input_html: { class: 'form-control input-lg', placeholder: "Phone" }
                  %p= account_form.input :stripe_card_id, as: :hidden
                  - if selected_plan
                    = account_form.select :sign_up_plan_id, active_plans.map { |p| [p.display_name, p.id] }, include_blank: false, :selected => selected_plan.id, input_html: { class: 'select optional form-control' }
                  - else
                    = account_form.select :sign_up_plan_id, active_plans.map { |p| [p.display_name, p.id] }, include_blank: false, input_html: { class: 'select optional form-control' }
        -#.form-group
          %h3 Credit Card
          %span.payment-errors
          .form-row
            %label
              %span Card Number
              %input{"data-stripe" => "number", size: "20", type: "text"}/
          .form-row
            %label
              %span CVC
              %input{"data-stripe" => "cvc", size: "4", type: "text"}/
          .form-row
            %label
              %span Expiration (MM/YYYY)
              %input{"data-stripe" => "exp-month", size: "2", type: "text"}/
            %span /
            %input{"data-stripe" => "exp-year", size: "4", type: "text"}/
        .container
          .row
            .col-xs-12.col-md-6
              .panel.panel-default
                .panel-heading
                  %h3.panel-title
                    %img.pull-right{:src => "http://i76.imgup.net/accepted_c22e0.png"}>/
                    Payment Details
                .panel-body
                  -#%form#payment-form{:role => "form"}
                  .row
                    .col-xs-12
                      %span.payment-errors
                      .form-group
                        %label{:for => "cardNumber"} CARD NUMBER
                        .input-group
                          %input.form-control{:autofocus => "", "data-stripe" => "number", :name => "cardNumber", :placeholder => "Valid Card Number", :required => "", :type => "text"}/
                          %span.input-group-addon
                            %i.fa.fa-credit-card
                  .row
                    .col-xs-7.col-md-7
                      .form-group
                        %label{:for => "expMonth"} EXPIRATION DATE
                      .row
                        .col-xs-6.col-lg-6.pl-ziro
                          %input.form-control{"data-stripe" => "exp_month", :name => "expMonth", :placeholder => "MM", :required => "", :type => "text"}/
                        .col-xs-6.col-lg-6.pl-ziro
                          %input.form-control{"data-stripe" => "exp_year", :name => "expYear", :placeholder => "YY", :required => "", :type => "text"}/
                    .col-xs-5.col-md-5.pull-right
                      .form-group
                        %label{:for => "cvCode"} CV CODE
                      .row
                        %input.form-control{"data-stripe" => "cvc", :name => "cvCode", :placeholder => "CV", :required => "", :type => "password"}/
          .row{:style => "display:none;"}
            .col-xs-12
              %p.payment-errors
        .container
          .row
            .col-xs-12.col-md-6
              .panel.panel-default
                .panel-heading
                  = f.button :submit, "Create My Account", :class => 'btn btn-primary btn-block'
                  %br
                  Already Have An Account?
                  = link_to "Log In", new_user_session_path, class: ''
                  %br
                  %br
